.header {
  background-color: #5caff2;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn{
  background-color: #000000;
  border-radius: 9px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.box {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #736f6f;
}

.box .ctrl{
  top: 40px;
  margin-top: 50px;
}

.box h2 {
  margin-top: 0;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.task-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.task-details {
  display: none;
  margin-bottom: 10px;
}

.view-more {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c3c3c3;
  padding: 20px;
  display: none;
}

.popup h2 {
  margin-top: 0;
}

.popup input[type="text"],
.popup textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.popup button {
  margin-top: 10px;
}
